
/*---------import & var---------*/
@font-face {
    font-family: Brilliant;
    src: url(./Res/brilliant_signature/Brilliant\ -\ Personal\ Use.ttf);
}
:root {
    --ff-primary: 'Open Sans', sans-serif;
    --fs-paragraf: 16px;
    --fs-title: 60px;
}
/*---------Global---------*/
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: 10px;
    background-color: black;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.432) 0%, rgb(251, 250, 251) 30%,rgba(0, 0, 0, 0.34)80%);
    border-radius: 3px;
}
.bg-texture{
    overflow-x: hidden;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: -999;
    opacity: 1;
    background-image: url(./Res/IMG/screen_2x.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}
.about, .processo-criativo, .Portifolio, .home{
    padding: 10px 0px 0px 2em;
}
/*-------HEADER-----------*/
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 75px 0px 97px;
}
.menu a{
    font-family:'Times New Roman', Times, serif;
    font-size: 25px;
    color: black;
    padding: 0 8px;
    border-right: 1px solid black;
}
.menu a:nth-child(4){
    border: none;
}
#logo-imagem{
    width: 350px;
}
/*-----------Home------------*/
.home{
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding: 10px 3.5em;
}
.home p{
    font-family: 'Aboreto', cursive;
}
#video-home{
    padding: 0;
    width: 430px;
    margin-right: 10px;
    height: 100%;
    object-fit: cover;
}
#content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#slogan{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 79vw;
}
#btn-orçamento{
    font-size: 20px;
    text-align: center;
    letter-spacing: 3px;
}
#content div h1{
    padding-top: 50px;
    font-size: 3vw;
    font-family: 'Aboreto', cursive;
    font-weight: lighter;
}
#title-cursive{
    padding-left: 40vw;
    font-size: 5rem;
    font-family: Brilliant;
    font-weight: 200;
}
#content div a{
    font-family: var(--ff-primary);
    text-decoration: none;
    color: black;
    padding: 10px 30px;
    cursor: pointer;
    border: solid 2px;
    margin: 6em;
}
/*--caroussel home--*/
.caroussel{
    width: 80vw;
    overflow: hidden; 
}
.caroussel p{
    font-size: 1.3vw;
    padding-bottom: 10px;
}
.caroussel-container{
    background-color: #0000001d;
    box-shadow: 5px 10px 30px rgba(0,0,0,0.15);
    padding: 10px 0px 10px 0px;
    position: relative;
    display: flex;
    height: 11em;
    width: 100%;
}
.slides{
    position: absolute;
    display: flex;
    align-items: center;
    height: 100%;
    width: 90vw;
}
.slide{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: 0px 15px 0px 15px;
}
.slide img{
    height: 100%;
}
/*-----------ABOUT-----------*/
.about {
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
    align-items: center;
    font-family: var(--ff-primary);
    width: 100vw;
}
.about hr {
    left: -50px;
}
#about-img{
    z-index: 2;
}
#about-img img{
    box-shadow: 3px 3px 10px rgb(0 0 0 / 36%);
    border-radius: 2px;
}
.txt-about{
    margin-left: 50px;
}
.txt-about p {
    font-size: var(--fs-paragraf);
    line-height: 1.4;
    letter-spacing: .149em;
    margin-right: 53px; 
}
.txt-about h1 {
    font-size: var(--fs-title);
    font-family: Brilliant;
    font-weight: 400;
}
.assinatura {
    text-align: end;
    padding: 10px 100px 0 0;
}
.assinatura span {
    height: 30px;
    font-family: Brilliant;
    font-size:23px;
}
/*------PROCESSO CRIATIVO--------*/
.processo-criativo {
    display: flex;
    flex-direction: row;
    gap: 50px;
    font-family: var(--ff-primary);
    width: 100vw;
    margin-bottom: 100px;
}
.txt-processo-criativo p {
    font-size: var(--fs-paragraf);
    line-height: 1.4;
    letter-spacing: .149em;
    margin-right: 53px;
}
.title-processo-criativo hr {
    left: -50px;
}

#video {
    z-index: 2;
}

#video-pc video{
    box-shadow: 3px 3px 10px rgb(0 0 0 / 36%);
    border-radius: 2px;
    width: 26vw;
}
.title-processo-criativo h1 {
    font-size: var(--fs-title);
    font-family: Brilliant;
    font-weight: 400;
}

/*---Portifolio---*/
.Portifolio{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100vw;
    height: 100vh;
}
.txt-portifolio{
    font-size: var(--fs-paragraf);
    margin: 0px 120px 0px 0px;
}
.txt-portifolio h1{
    margin-left: 50px;
    font-family: Brilliant;
    font-weight: lighter;
    font-size: var(--fs-title);
}
.txt-portifolio hr{
    left: -300px;    
}
.txt-portifolio p{
    margin: 20px 0px;
    font-family: var(--ff-primary);
    letter-spacing: 3px;
}
#txt-lista {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
}
.img-portifolio img{
    width: 130px;
    height: 18vh;
    margin: 0px 20px;
}
.img-portifolio{
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 30px; 
}
/*---Atendimento---*/
.Atendimento {
    margin-bottom: 80px;
    padding: 10px 3em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100vw;
}
#img-endereco{
    width: 40vw;
    height: 70vh;
    box-shadow: 3px 3px 10px rgb(0 0 0 / 36%);
    z-index: 2;
}
.txt-atendimento{
    font-size: 25px;
    margin: 0px 120px 0px 50px;
}
.txt-atendimento h1{
    font-family: Brilliant;
    font-weight: lighter;
    font-size: 60px;
}
.txt-atendimento hr{
    position: relative;
    left: -100px;
}
.txt-atendimento p{
    margin: 20px 0px;
    font-family: var(--ff-primary);
    letter-spacing: 3px;
}
.txt-atendimento i{
    font-size: 3vh;
    color: rgb(132, 11, 172);
}
#title-whats i{
    font-size: 3.5vh;
}
#title-whats{
    margin-top: 70px;
    font-size: 25px;
    font-weight: bold;
}
#title-horario{
    margin-top: 30px;
    font-size: 25px;
    font-weight: bold;
}
#txt-contato, #txt-horario{
    margin-top: -15px;
    padding-left: 45px;
    font-size: 18px;
    font-style: italic;
    font-weight: 800;
}
/*-----Pinned-layer-----*/
#wpp-btn{
    padding-left: 5px;
}
#wpp-btn img{
    width: 45px;
}
.social-media{
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 68vh;
    right: 1vw;
    z-index: 1000;
}
.social-media a{
    margin-bottom: 15px;
}
.social-media #insta{
    background-color: rgba(251, 251, 251, 0.333);
    backdrop-filter: blur(10px);
    font-size: 50px;
    color: black;
    padding: 2px 5px;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
}
/*---Footer---*/
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 0 30px;
    width: 100%;
}
footer .footer-logo img{
    filter: invert();
    width: 250px;
}
footer .info p{
    color: white;
    line-height: 35px;
}
.footer-media a{
    font-size: 40px;
    color: white;
    padding: 0 15px;
}

/*-----Responsive----*/

@media screen and (max-width: 1600px) {
    #slogan{
        align-items: flex-start;
        padding-left: 30px;
    }
    #t-slogan h1{
        font-size: 3vw;
    }
    #t-slogan h2{
        font-size: 4vw;
        padding-left: 40;
    }
    #content div a{
        margin: 8vh 20vw;
    }
}