html, body, figure, img, div, section, article, input, select, button, textarea, p, h1, h2, h3, h4, h5, h6, ul, li, a {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
    list-style: none;
    text-decoration: none;
}
@font-face {
    font-family: Brilliant;
    src: url(./Res/brilliant_signature/Brilliant\ -\ Personal\ Use.ttf);
}
:root {
    --ff-primary: 'Open Sans', sans-serif;
}

.bg-texture{
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: -999;
    opacity: 1;
    background-image: url(./Res/IMG/screen_2x.jpg);
    background-size: 2560px;
    background-repeat: no-repeat;
}

/*-------HEADER-----------*/
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
}

.menu a{
    font-family:'Times New Roman', Times, serif;
    font-size: 18px;
    color: black;
    padding: 0 8px;
    border-right: 1px solid black;
}
.menu a:nth-child(4){
    border: none;
}
#logo-imagem{
    width: 250px;
}
/*-----------Home------------*/
.home{
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding: 10px 3.5em;
}
#video-home{
    width: 430px;
    margin-right: 10px;
}
#content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#content div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#content div h1{
    font-size: 80px;
    font-family: Brilliant;
    font-weight: lighter;
}
#content div h1 #title-cursive{
    font-family: Brilliant;
    font-weight: lighter;
}
#content div a{
    font-family: var(--ff-primary);
    text-decoration: none;
    color: black;
    padding: 5px 20px;
    cursor: pointer;
    border: solid 2px;
    margin: 6em;
}
.caroussel{
    height: 350px;
    width: 80vw;
    background-color: #a4a2a3;
}

/*-----------ABOUT-----------*/
.about {
    display: flex;
    flex-direction: row;

    font-family: var(--ff-primary);
}

.about hr {
    margin: 28px auto;
    position: relative;
    left: -50px;
}

.about-img {
    width: 440px;
    height: 570px;
    margin-left: 110px;
    box-shadow: 3px 3px 10px rgb(0 0 0 / 36%);
    position: relative;
    top: 146px;
    left: -50px;
}

.txt-about {
    text-align: justify;
}

.txt-about p {
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: .149em;
    margin-right: 53px;
}

.txt-about h1 {
    font-size: 65px;
    font-family: Brilliant;
    font-weight: 400;
    position: relative;
    top: 48px;
    left: -12px;
}

.assinatura {
    text-align: end;
    padding: 30px 100px 0 0;
}

/*------PROCESSO CRIATIVO--------*/
.processo-criativo {
    display: flex;
    flex-direction: row;
    padding: 150px 0;

    font-family: var(--ff-primary);
}

.txt-processo-criativo {
    text-align: justify;
}

.txt-processo-criativo2 {
    position: relative;
    top: -100px;
    left: 25px;
}

.txt-processo-criativo p {
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: .149em;
    margin-right: 53px;
}

.txt-processo-criativo hr {
    position: relative;
    top: -110px;
}


.processo-criativo img {
    width: 300px;
    height: 450px;
    margin-left: 60px;
    box-shadow: 3px 3px 10px rgb(0 0 0 / 36%);
   
    
}

.txt-processo-criativo h1 {
    font-size: 65px;
    font-family: Brilliant;
    font-weight: 400;
    position: relative;
    top: -82px;
    left: 27px;
}

/*---Portifolio---*/

.Portifolio{
    padding: 10px 3em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.txt-portifolio{
    font-size: 25px;
    margin: 0px 120px 0px 0px;
}

.txt-portifolio h1{
    font-family: Brilliant;
    font-weight: lighter;
    font-size: 60px;
}

.txt-portifolio hr{
    left: -300px;    
}

.txt-portifolio p{
    margin: 20px 0px;
    font-family: var(--ff-primary);
    letter-spacing: 3px;
}

.txt-portifolio ul{
    margin: 50px 0px 0px 50px;
}

.txt-portifolio li{
    font-family: var(--ff-primary);
}

.img-portifolio img{
    width: 120px;
    height: 140px;
    margin: 5px 0px;
}

.img-portifolio{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    
}

/*---Footer---*/

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 0 30px;
    margin-top: 15vh;
    width: auto;
}

footer .footer-logo img{
    filter: invert();
    width: 250px;
}

footer .info p{
    color: white;
    line-height: 35px;
}

.footer-media a{
    font-size: 40px;
    color: white;
    padding: 0 15px;
}