html, body, figure, img, div, section, article, input, select, button, textarea, p, h1, h2, h3, h4, h5, h6, ul, li, a {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
    list-style: none;
    text-decoration: none;
}

:root {
    --ff-primary: 'Open Sans', sans-serif;
}

body{
    padding: 0 2vw;
}

.bg-texture{
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: -999;
    opacity: 1;
    background-image: url(../JuliaNunes-TattooArtist/Res/IMG/);
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
}

.menu a{
    font-family:'Times New Roman', Times, serif;
    font-size: 18px;
    color: black;
    padding: 0 8px;
    border-right: 1px solid black;
}

#logo-imagem{
    width: 250px;
}

.about {
    display: flex;
    flex-direction: row;

    font-family: var(--ff-primary);
}

hr {
    border: solid 1px #a4a2a3;
    margin: 28px auto;
}

.about-img {
    width: 385px;
    height: 580px;
    margin-left: 80px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
    position: relative;
    top: 30px; 
}

.txt-about {
    padding: 0 53px;
    text-align: justify;
}

.txt-about p {
    font-size: 18px;
}

.txt-about h1 {
    font-size: 28px;
}

.assinatura {
    text-align: end;
    padding: 30px 228px 0 0;
}
