main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#bg-texture{
    overflow-x: hidden;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: -999;
    opacity: 1;
    background-image: url(../Res/IMG/screen_2x.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}

section{
    margin-top: 10vh;
}

.quem-somos h2{
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 5vw;
}

h2{
    font-size: 4vw;
}

h3{
    font-size: 3vw;
    padding: 20px;
}

p{
    font-size: 2vw;
    padding-top: 30px;
}

.flex-column{
    display: flex;

}

.flex-column div{
    padding: 0px 75px 0px 97px;
    flex-direction: row;
    justify-content: space-between;
}

img{
    width: 80%;
}

.image{
    width: 800px;
    align-items: center;
    justify-content: center;
}

.content{
    
}

/*----config sections----*/

.cliente{
    display: flex;
}
.cliente img{
    margin-right: 10vw;
}
.julia{
    width: 400px;
}
.problema{
    display: flex;
}
.solução{
    display: flex;
}