main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#bg-texture{
    overflow-x: hidden;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: -999;
    opacity: 1;
    background-image: url(../Res/IMG/screen_2x.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}

section{
    margin-top: 25vh;
}

/* TITULO */

main h1{
    font-size: 6vw;
}

main img{
    transform: translateY(-60px);
    width: 80vw;
}

/* QUEM SOMOS */

.quem-somos{
    transform: translateY(-300px);
}

.quem-somos h2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8vw;
}

.quem-somos .flex-column{
    display: flex;
    justify-content: space-between;
}

.quem-somos .flex-column .content p{
    font-size: 2.5vw;
}

.quem-somos .flex-column .content li{
    font-size: 1.5vw;
}

/* CLIENTE */

.cliente{
    display: flex;
}

.cliente .julia img{
    width: 100%;
}

.cliente .julia{
    width: 20vw;
    margin-right: 3vw;
}

.cliente .content-cli h2{
    margin: 0;
    font-size: 8vw;
}

.cliente .content-cli h3{
    font-size: 4vw;
}

/* PROBLEMA e SOLUCAO */

.problema, .solucao{
    display: flex
}

.solucao{
    margin-top: 10vh;
}

.solucao #config-img{
    width: 45vw;
}

.image{
    width: 35vw;
    padding-top: 10vh;
    margin-right: 3vw;
}

.image img{   
    width: 100%;
}

.txt-content h2{
    margin: 0;
    font-size: 6vw;
}

.txt-content p{
    font-size: 2vw;
}

/* PROXIMOS PASSOS */

.proximos-passos{
    margin-bottom: 30vh;
}

.proximos-passos h2{
    text-align: center;
    font-size: 4vw;
}

.proximos-passos ul{
    width: 50vw;
    display: flex;
    justify-content: space-between;
}

.proximos-passos li{
    font-size: 2vw;
}